<div>
<h3>Add a New Pool to your list</h3>
<form action="/pool" method="post">
  <div>
  <ul class="addpool">
    <li>
      <label for="pool_name">Pool Name: </label>
      <input type="text" name="pool[pool_name]" id="pool_name">
    </li>
    <li>
      <label for="building_name">Name of the Hotel or Building: </label>
      <input type="text" name="pool[building_name]" id="building_name">
    </li>
    <li>
      <label for="address">Address: </label>
      <input type="text" name="pool[address]" id="address">
    </li>
      <li>
        <label for="website">Website: </label>
        <input type="text" name="pool[website]" id="website">
      </li>
  </ul>
  </div>
    
    <div>
      <p>Pool Description:
      <textarea type="text" name="pool[pool_desc]" id="pool_desc" rows="10" cols="80" maxlength="500" placeholder="Enter a description, limit to 500 characters"></textarea>
    </div>
    
    <div><p>Food and Drink:</p>
      <label for="has_food">Does the pool have food or a menu?</label>
      <input type="checkbox" name="pool[has_food] value="has_food">
      <label for="has_happy_hour">Does the pool bar have a happy hour?</label>
      <input type="checkbox" name="pool[has_happy_hour] value="has_happy_hour">
    </div>
    
    <div><p>Hours</p>
    <ul class="addpool">
      <li>
        <label for="pool_open">Pool Opens</label>
        <input type="number" name="pool[pool_open]" id="pool_open"> AM
      </li>
      <li>
        <label for="pool_close">Pool Closes</label>
        <input type="number" name="pool[pool_close]" id="pool_close"> PM
      </li>
      <li>
        <label for="hh_open">Happy Hour Starts</label>
        <input type="number" name="pool[hh_open]" id="hh_open"> PM
      </li>
      <li>
        <label for="hh_close">Happy Hour Ends</label>
        <input type="number" name="pool[hh_close]" id="hh_close"> PM 
      </li>
    </ul>
    </div>
  <input type="submit" value="Post Your Pool">
  
</form>

<h3><a href="/user_home">Back to Home Page </a> </h3>

</div>