<h3>Add a New Pool to your list</h3>
<form action="/" method="post">
  <label for="pool_name">Pool Name: </label>
  <input type="text" name="pool[pool_name]" id="pool_name">

  <label for="building_name">Name of the Hotel or Building: </label>
  <input type="text" name="pool[building_name]" id="building_name">
  <label for="address">Address: </label>
  <input type="text" name="pool[address]" id="address">
  <br>
  <br>
  <label for="pool_desc">Pool Description: </label>
  <textarea type="text" name="pool[pool_desc]" id="pool_desc" rows="20" cols="40"></textarea>
  <br>
  <label for="has_food">Does the pool have food or a menu?</label>
  <input type="checkbox" name="pool[has_food] value="has_food">
  <label for="has_happy_hour">Does the pool bar have a happy hour?</label>
  <input type="checkbox" name="pool[has_happy_hour] value="has_happy_hour">
  <br>
  <p>Hours</p>
  <label for="pool_open">Pool Opens</label>
    <select>
        <option name="pool[pool_open]">1</option>
        <option name="pool[pool_open]">2</option>
        <option name="pool[pool_open]">3</option>
        <option name="pool[pool_open]">4</option>
        <option name="pool[pool_open]">5</option>
        <option name="pool[pool_open]">6</option>
        <option name="pool[pool_open]">7</option>
        <option name="pool[pool_open]">8</option>
        <option name="pool[pool_open]">9</option>
        <option name="pool[pool_open]">10</option>
        <option name="pool[pool_open]">11</option>
        <option name="pool[pool_open]">12</option>
    </select>
<br>
   
  <label for="pool_close">Pool closes</label>
    <select>
        <option name="pool[pool_close]">1</option>
        <option name="pool[pool_close]">2</option>
        <option name="pool[pool_close]">3</option>
        <option name="pool[pool_close]">4</option>
        <option name="pool[pool_close]">5</option>
        <option name="pool[pool_close]">6</option>
        <option name="pool[pool_close]">7</option>
        <option name="pool[pool_close]">8</option>
        <option name="pool[pool_close]">9</option>
        <option name="pool[pool_close]">10</option>
        <option name="pool[pool_close]">11</option>
        <option name="pool[pool_close]">12</option>
    </select>
    <br>
    <label for="hh_open">Happy Hour Starts</label>
    <select>
        <option name="pool[hh_open]">1</option>
        <option name="pool[hh_open]">2</option>
        <option name="pool[hh_open]">3</option>
        <option name="pool[hh_open]">4</option>
        <option name="pool[hh_open]">5</option>
        <option name="pool[hh_open]">6</option>
        <option name="pool[hh_open]">7</option>
        <option name="pool[hh_open]">8</option>
        <option name="pool[hh_open]">9</option>
        <option name="pool[hh_open]">10</option>
        <option name="pool[hh_open]">11</option>
        <option name="pool[hh_open]">12</option>
    </select>

    <label for="hh_close">Happy Hour Ends</label>
    <select>
        <option name="pool[hh_close]">1</option>
        <option name="pool[hh_close]">2</option>
        <option name="pool[hh_close]">3</option>
        <option name="pool[hh_close]">4</option>
        <option name="pool[hh_close]">5</option>
        <option name="pool[hh_close]">6</option>
        <option name="pool[hh_close]">7</option>
        <option name="pool[hh_close]">8</option>
        <option name="pool[hh_close]">9</option>
        <option name="pool[hh_close]">10</option>
        <option name="pool[hh_close]">11</option>
        <option name="pool[hh_close]">12</option>
    </select>

  






  <input type='submit' name="submit" value="Post Your Pool" id="submit">
  
</form>
