<div class="sign">
<h3 class="create">Log In</h3>
  <form action="/login" method="post" class="login">
    <label for"username">Username: </label>
    <input type="text" name="username" id="username" placeholder="Enter Your Username...">
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" placeholder="Enter Password...">
    <input type="submit" name="submit" id="submit" value="Log In" class="buttons">
  </form>
  <br>
  <p class="signinup">Not signed up yet? <a href='/signup' class="buttons">Go to Sign Up page...</a></p>
</div>