<div class="sign">
<h3 class="text-center" id="formtitle">Create an Account</h3>
    <form action="/signup" method="post" class="login container">
      <label class="col" for="username">Username: 
      <input class="col" type="text" name="username" id="username" placeholder="Choose a Username...">
      </label>

      <label class="col" for="email">Email: 
      <input class="col" type="text" name="email" id="email" placeholder="Email address...">
    </label>

      <label class="col" for="password">Password: 
      <input class="col" type="password" name="password" id="password" placeholder="Choose a password...">
     </label>

      <input type="submit" value="Sign Up" class="buttons col">
    </form>
    <br>

    <div class="container">
        <span class="signinup col">Already have an account? </span>
        <span> <a href='/login' class="buttons">Go to Log In page...</a> </span>
    </div>
</div>