<!doctype html>
<html>
  <head>
    <title>Miami Rooftop Pools</title>
    <link href="/stylesheets/poolstyle.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <div class="container"> 

    <header><h1>Miami Rooftop Pools</h1>
        <h4>A place to keep and show a list of Miami Rooftop Pools to Visit</h4>
        <hr>
    </header>
    <%= yield %>



</div>
</body>
</html>


