<!doctype html>
<html>
  <head>
    <title>Miami Rooftop Pools</title>
    <link href="/stylesheets/poolstyle.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <div class="container-fluid"> 
  

    <header id="header"><h1><a href='/'>Miami Rooftop Pools</a></h1>
        <h4>A place to keep and show a list of Miami Rooftop Pools to Visit</h4>
        <div>
        <%if Helpers.is_logged_in?(session) %>
          <form method=post action='/logout'>
          <input type='submit' value="Logout" class="buttons">
          </form>
        </div>
        <% end %>
    </header>
   
     <%= yield %>



</div>
</body>
</html>


